# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environments
.env
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Optional: Ignore data if you want to re-generate it every time
# airfoil_data_clean/
# airfoil_data_refined/
# results/